@media all and (max-width: 991px) {
  .btnReserv {
    left: inherit !important;
    right: 90px !important;
  }
}

.btnReserv {
  position: absolute;
  top: 15px;
  right: 2%;
}

.placementBouton {
  margin-right: 150px;
}
#navbarSupportedContent ul {
  align-items: center;
}

#navbarSupportedContent ul li {
  margin-right: 20px;
  height: 50px;
}

#navbarSupportedContent ul li a {
  color: #554f49;
}

#navbarSupportedContent ul li a:hover {
  border-bottom: 4px solid #554f49;
  padding-bottom: 4px;
}

/*
.btnReserv {
  position: absolute;
  left: 52%;
}
*/

/*
@media all and (max-width: 991px) {
  .btnReserv {
    left: inherit !important;
    right: 90px !important;
  }
}
.btnReserv {
  position: absolute;
  left: 90%;
}
*/

/* Restaurant */
#Restaurant .card-body {
  border-radius: 0px;
  border-width: 0px;
}
.Restaurant__text--title--border {
  border: 1px solid #554f48;
  border-radius: 0;
}

.Restaurant__text--title--secondBorder {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
}

.Restaurant__text--title--dephasage {
  position: relative;
  top: -45px;
}

.Restaurant__hidden {
  opacity: 0;
}

.Restaurant__background1 {
  background-color: rgb(200, 200, 200);
}

.Restaurant__background2 {
  background-color: rgb(10, 10, 10);
}

.Restaurant__background3 {
  background-color: rgb(150, 150, 150);
}

.Restaurant__galleryZoom {
  /* width: 100%; */
  /* float: left; */
  /* display : flex;
  flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Restaurant__galleryZoom--display {
  display: none;
  position: absolute;
  margin: auto;
  color: white;
  font-weight: bold;
}

.Restaurant__gallery--smallImage {
  width: 100%;
  /* height: auto; */
  /* width: 250px; */
}

.Restaurant__gallery--smallImage:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.Restaurant__gallery figure {
  /* display: block; */
  /* float: left; */
  margin: 10px 5px 5px 0;
  padding: 0 0 0 0;
  /* width: 150px; */
}

.Restaurant__gallery figcaption {
  display: none;
}

.Restaurant__text {
  font-size: 1.5em;
  /* margin: 20px 5px 0px 5px; */
  padding-top: 20px;
}

.Restaurant__sectionDuGerant--padding {
  padding: 10px 10px 10px 10px;
}

.Restaurant__sectionDuGerant {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.Restaurant__textDuGerant {
  font-size: 1.5em;
  margin: 0px 10px 10px 10px;
}

.Restaurant__text--title {
  font-size: 2em;
  margin: 2px 2px 2px 2px;
  padding: 10px 10px 10px 10px;
}

.Restaurant__text--sign {
  text-align: right;
}

.Restaurant__text--fadeInUp {
  -webkit-animation-name: Restaurant__text--fadeInUp;
  animation-name: Restaurant__text--fadeInUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.Restaurant__text--fadeInRight {
  -webkit-animation-name: Restaurant__text--fadeInRight;
  animation-name: Restaurant__text--fadeInRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.Restaurant__text--fadeInLeft {
  -webkit-animation-name: Restaurant__text--fadeInLeft;
  animation-name: Restaurant__text--fadeInLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes Restaurant__text--fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes Restaurant__text--fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Restaurant__text--fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes Restaurant__text--fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Restaurant__text--fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes Restaurant__text--fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Menu */

#menu .figure {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  background: #fff8f2;
  border-bottom: #554f48 solid 1px;
}

#menu .figure h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fuji", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  visibility: hidden;
  color: #554f48;
}

#menu .figure:hover img + h2 {
  visibility: visible;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#menu .figure img {
  opacity: 1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#menu .figure:hover img {
  opacity: 0.3;
}

#menu .col-12 {
  padding: 0;
}

/* platUn */

#platUn p {
  font-family: "PT Serif Caption", serif;
  color: #554f48;
  margin-top: 25px;
  font-size: 0.9rem;
}

#platUn img {
  margin-top: 15px;
  margin-bottom: 10px;
}

#platUn h2 {
  font-family: "Fuji", Arial, Helvetica, sans-serif;
  color: #554f48;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* contact */
footer {
  background-color: #000;
}

.sectionContact {
  color: #fff8f3;
  background-color: #554f49;
}

.font-clair {
  color: #fff8f3;
}

.font-grey {
  color: #554f49;
}

hr {
  border: 0.5px solid #fff8f3;
  max-width: 20%;
}

/* Titre de la page : contact */

.titre-contact-borderExt {
  border: 2px solid #000;
  background-color: #fff8f3;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.titre-contact-borderInt {
  border: 1px solid #000;
}

/* Fin titre de la page contact*/

/* MAP */
#map {
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large {
  height: 500px;
}

.overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  opacity: 0.8;
  background: #4477aa;
  border: solid 3px #336699;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #333;
  text-shadow: 1px 1px 1px #666;
  padding: 0 4px;
}

.overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #336699;
}
.overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #336699;
}
/* FIN MAP */

/*social media icons - CSS animation */

section#contact ul a,
#socialButton ul li a {
  display: inline-block;
  width: 128px;
  height: 128px;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}

a.fb,
#socialButton ul li a.tw {
  background: url(images/social_media.png) -256px top;
}

a.tw,
#socialButton ul li a.fb {
  background: url(images/social_media.png) -512px top;
}

a.ytube,
#socialButton ul li a.ytube {
  background: url(images/social_media.png) -640px top;
}

a.toque {
  background: url(images/toques-blanches-nb.png) no-repeat;
}

section#contact li:hover a.fb,
#socialButton ul li a.tw:hover {
  background: url(images/social_media.png) -256px bottom;
}

section#contact li:hover a.tw,
#socialButton ul li a.fb:hover {
  background: url(images/social_media.png) -512px bottom;
}

section#contact li:hover a.ytube,
#socialButton ul li a.ytube:hover {
  background: url(images/social_media.png) -640px bottom;
}

section#contact li:hover a.toque {
  background: url(images/toques-blanches.png) no-repeat;
}

@media (max-width: 991px) {
  section#contact li a.fb,
  #socialButton ul li a.fb {
    background: url(images/social_media.png) -256px bottom;
  }
}

@media (max-width: 991px) {
  section#contact li a.tw,
  #socialButton ul li a.tw {
    background: url(images/social_media.png) -512px bottom;
  }
}
@media (max-width: 991px) {
  section#contact li a.ytube,
  #socialButton ul li a.ytube {
    background: url(images/social_media.png) -640px bottom;
  }
}
@media (max-width: 991px) {
  section#contact li a.toque {
    background: url(images/toques-blanches.png) no-repeat;
  }
}

.lienFooter {
  color: #fff8f3;
}

.font-50 {
  font-size: 25px;
}
/* BLOG */

.bg-colorMarron {
  background-color: #554f48;
}

#blog {
  padding-top: 85px;
  padding-bottom: 60px;
  background-color: #ebe0d7;
}

#blog .card-header {
  font-weight: bold;
}

#avis .card {
  border: 0px;
  background-color: #554f48;
}

#avis {
  padding-bottom: 150px;
  background-color: #ebe0d7;
}

#avis span {
  font-size: 0.8rem;
  font-style: italic;
  color: #fff8f26e;
}

#avis hr {
  margin-top: 35px;
  border: 0.5px solid #fff8f3;
  max-width: 15%;
}

#avis h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fuji", Arial, Helvetica, sans-serif;
  color: #fff8f2;
}

#avis p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif Caption", Arial, Helvetica, sans-serif;
  color: #fff8f2;
  font-weight: lighter;
}
