/* GENERAL */

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Fuji";
    src: url('Fuji-Regular.otf');
    src: url('Fuji-Light.otf');
    src: url('Fuji-Bold.otf');
    src: url('Fuji-Medium.otf');
}

/* SECTION MENU 01 */

#menu01 p {
    font-family: 'PT Serif Caption', serif;
    color: #554f48;
    margin-top: 50px;
    font-size: .9rem;
}

#menu01 img {
    margin-top: 40px;
}

#menu01 h2 {
    font-family: "Fuji", Arial, Helvetica, sans-serif;
    color: #554f48;
    margin-top: 40px;
    margin-bottom: 10px;
}