/* GENERAL */

@font-face {
  font-family: "Fuji";
  src: url("fonts/Fuji-Regular.otf");
}

/* NAVBAR */
nav {
  z-index: 1111;
  background-color: #fff8f3 !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  font-family: Fuji;
}

.noMarginNoPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.marginRight-10 {
  margin-right: 20px;
}

.marginLeft10 {
  margin-left: 10px;
}
.margin100Top {
  margin-top: 100px;
}

.hrNavBar {
  border: 1px solid #554f48;
  width: 20px;
}

header .hrMenu {
  border: 1px solid #554f48;
  position: absolute;
  right: 0%;
  width: 1500px;
  margin: 0;
}
header .btnReserv a {
  color: #554f48;
  border: 1px solid #554f48;
}

header .btnReserv a:hover {
  color: #fff8f3;
  background-color: #554f48;
}

header .btnReserv {
  position: absolute;
  top: 10px;
  right: 2%;
}

#navbarSupportedContent ul li a {
  font-size: 140%;
}

@media all and (max-width: 991px) {
  header .btnReserv {
    left: inherit !important;
    right: 80px !important;
  }
  header .btnReserv a {
    margin-top: 15px !important;
  }

  #navbarSupportedContent ul li a {
    font-size: 150%;
  }
  #navbarSupportedContent ul li {
    margin-top: 1px;
  }
}

@media all and (min-width: 991px) {
  .placementBouton {
    margin-right: 150px;
  }
  #navbarSupportedContent ul li {
    margin-right: 20px;
    height: 50px;
  }
  .adresseNavBar {
    display: none;
  }
  header .hrMenu {
    display: none;
  }
}

#navbarSupportedContent ul {
  align-items: center;
}
#navbarSupportedContent ul li a {
  color: #554f49;
}
#navbarSupportedContent ul li a:hover {
  border-bottom: 4px solid #554f49;
  padding-bottom: 4px;
}

.debugButton {
  outline: none !important;
}

/*LOGO POUR LE MENU */
#socialButtonNavBar ul li a {
  display: inline-block;
  width: 66px;
  height: 66px;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}

a.fb,
#socialButtonNavBar ul li a.tw {
  background: url(images/social_mediaV2-marron.png) -30px top;
}

a.tw,
#socialButtonNavBar ul li a.fb {
  background: url(images/social_mediaV2-marron.png) -115px top;
}

a.ytube,
#socialButtonNavBar ul li a.ytube {
  background: url(images/social_mediaV2-marron.png) -200px top;
}

/* @media (max-width: 991px) { .navBarCentrage { text-align: center; } } */ /* .btnReserv
{ position: absolute; left: 52%; } */ /* @media all and (max-width: 991px) { .btnReserv { left: inherit !important; right:
90px !important; } } .btnReserv { position: absolute; left: 90%; } */

/* Carousel */

#accueil .d-block {
  margin-top: 80px;
}

.carousel-caption p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
  font-size: 1.8vw;
}

.carousel-caption h1 {
  font-family: "Fuji";
  font-size: 6vw;
}
.carousel-caption {
  bottom: 50%;
}
/* Restaurant */
.passageBouton {
  z-index: -10000;
}
#Restaurant .card-body {
  border-radius: 0px;
  border-width: 0px;
}
.Restaurant__text--title--border {
  border: 1px solid #554f48;
  border-radius: 0;
}

.Restaurant__text--title--secondBorder {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
}

.Restaurant__text--title--dephasage {
  position: relative;
  top: -42px;
}

.Restaurant__text--beige {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
  color: #fff8f3;
}

.Restaurant__text--taupe {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
  color: #554f48;
}

.Restaurant__hidden {
  opacity: 0;
}

.Restaurant__background1 {
  background-color: #554f48;
}

.Restaurant__background2 {
  background-color: #fff8f3;
}

.Restaurant__background3 {
  background-color: #554f48;
}

.Restaurant__galleryZoom {
  /* width: 100%; */
  /* float: left; */
  /* display : flex;
  flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Restaurant__galleryZoom--display {
  display: none;
  position: absolute;
  margin: auto;
  color: white;
  font-weight: bold;
}

.Restaurant__gallery--smallImage {
  width: 100%;
  /* height: auto; */
  /* width: 250px; */
}

.Restaurant__gallery--smallImage:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.Restaurant__gallery figure {
  /* display: block; */
  /* float: left; */
  margin: 10px 5px 5px 0;
  padding: 0 0 0 0;
  /* width: 150px; */
}

.Restaurant__gallery figcaption {
  display: none;
}

.Restaurant__text {
  font-size: 1em;
  /* margin: 20px 5px 0px 5px; */
  padding-top: 20px;
}

.Restaurant__sectionDuGerant--padding {
  padding: 10px 10px 10px 10px;
}

.Restaurant__sectionDuGerant {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.Restaurant__textDuGerant {
  font-size: 1em;
  margin: 0px 10px 10px 10px;
}

.Restaurant__text--title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 2px 2px 2px 2px;
  padding: 10px 10px 10px 10px;
}

.Restaurant__card__profils__header {
  background-color: #2e2a25;
  border: 1px solid black;
}

.Restaurant__card__profils__header img {
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.Restaurant__card__profils {
  background-color: #80766b;
  color: #fff8f3;
  height: 180px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
}

@media (min-width: 576px) {
  .Restaurant__card__profils {
    background-color: #80766b;
    color: #fff8f3;
    height: 200px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
    margin-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PT Serif", Arial, Helvetica, sans-serif;
  }
}

@media (min-width: 768px) {
  .Restaurant__card__profils {
    background-color: #80766b;
    color: #fff8f3;
    height: 220px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
    margin-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PT Serif", Arial, Helvetica, sans-serif;
  }
}

.Restaurant__card__profils--margin {
  margin-bottom: 20px;
}

.Restaurant__text--sign {
  text-align: right;
}

.Restaurant__text--fadeInUp {
  -webkit-animation-name: Restaurant__text--fadeInUp;
  animation-name: Restaurant__text--fadeInUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.Restaurant__text--fadeInRight {
  -webkit-animation-name: Restaurant__text--fadeInRight;
  animation-name: Restaurant__text--fadeInRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.Restaurant__text--fadeInLeft {
  -webkit-animation-name: Restaurant__text--fadeInLeft;
  animation-name: Restaurant__text--fadeInLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes Restaurant__text--fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes Restaurant__text--fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Restaurant__text--fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes Restaurant__text--fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Restaurant__text--fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes Restaurant__text--fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Menu */

@media (max-width: 991px) {
  #menu .figure h2 {
    font-size: 2rem !important;
    display: block;
    padding-top: 30px;
  }
  #menu .figure h6 {
    margin-top: 10px;
    font-size: 1.2rem !important;
  }
}

@media (max-width: 479px) {
  #menu .figure h2 {
    font-size: 1rem !important;
    display: block;
    padding-top: 30px;
  }
  #menu .figure h6 {
    margin-top: 10px;
    font-size: 0.8rem !important;
  }
}

#menu .figure {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 0 1px 0;
  background: #fff8f2;
  border-top: #554f48 solid 1px;
  border-bottom: #554f48 solid 1px;
}

#menu .figure h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fuji", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  display: block;
  padding-bottom: 45px;
  color: #554f48;
}

#menu .figure h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fuji", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-60%, -50%);
  font-size: 1.3rem;
  color: #554f48;
  font-weight: lighter;
}

#menu .figure:hover h6 {
  text-decoration: underline;
}

#menu .figure img {
  opacity: 0.3;
}

#menu .col-12 {
  padding: 0;
}

/* plat 1, 2, 3, 4 */

#platUn,
#platDeux,
#platTrois,
#platQuatre {
  display: none;
}

#platUn hr,
#platDeux hr,
#platTrois hr,
#platQuatre hr {
  color: black;
  width: 40%;
  margin-top: 60px;
  margin-bottom: 30px;
}

#platUn p,
#platDeux p,
#platTrois p,
#platQuatre p {
  font-family: "PT Serif Caption", serif;
  color: #554f48;
  margin-top: 25px;
  font-size: 0.9rem;
}

#platUn h2,
#platDeux h2,
#platTrois h2,
#platQuatre h2 {
  font-family: "Fuji", Arial, Helvetica, sans-serif;
  color: #554f48;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

#fermerUn,
#fermerDeux,
#fermerTrois,
#fermerQuatre {
  padding-bottom: 80px;
}

/* bouton ferme */

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #b1a598;
  color: #b1a598;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  outline: none;
}

button::before {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
}

button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
}

.draw::before {
  border: 2px solid transparent;
  width: 0;
  height: 0;
  outline: none;
}

.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
  outline: none;
}

.draw::before {
  top: 0;
  left: 0;
  outline: none;
}

.draw::after {
  bottom: 0;
  right: 0;
  outline: none;
}

.draw:hover {
  color: #292623;
  outline: none;
}

.draw:hover {
  color: #292623;
  outline: none;
}

.draw:hover::before {
  width: 100%;
  height: 100%;
  outline: none;
}

.draw:hover::after {
  width: 100%;
  height: 100%;
  outline: none;
}

.draw:hover::before {
  border-top-color: #292623;
  border-right-color: #292623;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  outline: none;
}

.draw:hover::after {
  border-bottom-color: #292623;
  border-left-color: #292623;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  outline: none;
}

.draw {
  transition: color 0.25s;
  outline: none;
}

/* contact */
footer {
  background-color: #000;
}

.sectionContact {
  color: #fff8f3;
  background-color: #554f49;
}

.font-clair {
  color: #fff8f3;
}

.font-grey {
  color: #554f49;
}

.sectionContact hr,
.sectionContact hr {
  border: 0.5px solid #fff8f3;
  max-width: 20%;
}
*/

/* Titre de la page : contact */

.titre-contact-borderExt {
  border: 2px solid #000;
  background-color: #fff8f3;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.titre-contact-borderInt {
  border: 1px solid #000;
}

/* Fin titre de la page contact*/

/* MAP */
#map-canvas {
  color: black;
  display: block;
  width: 100%;
  height: 550px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
.containerMap {
  padding-right: 0px;
  padding-left: 0px;
}

/* FIN MAP */

/*social media icons - CSS animation */

section#contact ul a,
#logoSociauxContact ul li a {
  display: inline-block;
  width: 118px;
  height: 118px;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}

a.fb,
#socialButton ul li a.tw {
  background: url(images/social_media.png) -256px top;
}

a.tw,
#socialButton ul li a.fb {
  background: url(images/social_media.png) -512px top;
}

a.ytube,
#socialButton ul li a.ytube {
  background: url(images/social_media.png) -640px top;
}

a.toque {
  background: url(images/toques-blanches-nb.png) 20px top no-repeat;
}

a.tripA {
  background: url(images/logo_tripA.png) 0px top no-repeat;
  background-size: 100%;
}

a.fourchette {
  background: url(images/logo_lafouchette_nb.png) no-repeat;
}

section#contact li:hover a.fb,
#socialButton ul li a.tw:hover {
  background: url(images/social_media.png) -256px bottom;
}

section#contact li:hover a.tw,
#socialButton ul li a.fb:hover {
  background: url(images/social_media.png) -512px bottom;
}

section#contact li:hover a.ytube,
#socialButton ul li a.ytube:hover {
  background: url(images/social_media.png) -640px bottom;
}

section#contact li:hover a.toque {
  background: url(images/toques-blanches.png) 20px top no-repeat;
}

section#contact li:hover a.tripA {
  background: url(images/logo_tripA.png) 0px top no-repeat;
  background-size: 100%;
}
section#contact li:hover a.fourchette {
  background: url(images/logo_lafouchette.png) 0px top no-repeat;
}

@media (max-width: 991px) {
  section#contact li a.fb {
    background: url(images/social_media.png) -256px bottom;
  }
}

@media (max-width: 991px) {
  section#contact li a.tw {
    background: url(images/social_media.png) -512px bottom;
  }
}
@media (max-width: 991px) {
  section#contact li a.ytube {
    background: url(images/social_media.png) -640px bottom;
  }
}
@media (max-width: 991px) {
  section#contact li a.toque {
    background: url(images/toques-blanches.png) no-repeat;
  }
}
/* FOOTER */
footer {
  background-color: #554f48;
}

.lineFooter {
  position: absolute;
  right: 0;
  height: 20px;
  width: 1px;
  border-right: 1px solid white;
}

@media (max-width: 764px) {
  .lineFooter {
    display: none;
  }
}

#socialButton ul li a {
  display: inline-block;
  width: 90px;
  height: 120px;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}

#socialButton ul li a.tw {
  background: url(images/social_mediaV2.png) -150px top;
}

#socialButton ul li a.fb {
  background: url(images/social_mediaV2.png) -270px top;
}

#socialButton ul li a.ytube {
  background: url(images/social_mediaV2.png) -400px top;
}

#socialButton ul li a.tw:hover {
  background: url(images/social_mediaV2.png) -150px bottom;
}

#socialButton ul li a.fb:hover {
  background: url(images/social_mediaV2.png) -270px bottom;
}

#socialButton ul li a.ytube:hover {
  background: url(images/social_mediaV2.png) -400px bottom;
}

.lienFooter {
  color: #fff8f3;
}

.font-50 {
  font-size: 25px;
}

footer .textFooter {
  color: #fff8f3;
}

footer .hrFooter {
  border: 0.5px solid #fff8f3;
}
/* BLOG */

.bg-colorMarron {
  background-color: #554f48;
}

#blog {
  padding-top: 85px;
  padding-bottom: 60px;
  background-color: #ebe0d7;
}

#blog .card-header {
  font-weight: bold;
}

#blog .card-body img {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
#blog .card-body p {
  padding-top: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
}

#avis .card {
  border: 0px;
  background-color: #554f48;
}

#avis {
  padding-bottom: 150px;
  background-color: #ebe0d7;
}

#avis span {
  font-size: 0.8rem;
  font-style: italic;
  color: #fff8f26e;
}

#avis hr {
  margin-top: 35px;
  border: 0.5px solid #fff8f3;
  max-width: 15%;
}

#avis h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fuji", Arial, Helvetica, sans-serif;
  color: #fff8f2;
}

#avis p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
  color: #fff8f2;
}

/* RESERVATION */
/* DATE PICKER */
/* This is a very basic stylesheet for the date-picker. Feel free to create your own. */

/* Hide the input by using a className */
input.fd-hidden-input,
select.fd-hidden-input {
  display: none;
}
/* Screen reader class - hides it from the visual display */
.fd-screen-reader {
  position: absolute;
  left: -999em;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0 none;
  -moz-outline: 0 none;
}
/* Disabled datePicker and activation button */
a.dp-disabled,
.dp-disabled table {
  opacity: 0.3 !important;
  filter: alpha(opacity=40);
}
.dp-disabled,
.dp-disabled td,
.dp-disabled th,
.dp-disabled th span {
  cursor: default !important;
}
a.date-picker-control:focus,
div.datePicker table td:focus {
  overflow: hidden;
  outline: 0 none;
  -moz-outline: 0 none;
  color: rgb(100, 130, 170) !important;
}
/* The wrapper div */
div.datePicker {
  position: absolute;
  z-index: 9999;
  text-align: center;

  /* Change the font-size to suit your design's CSS. The following line is for the demo that has a 12px font-size defined on the body tag */
  /* font: 900 0.8em/1em Verdana, Sans-Serif; */
  font: 900 0.8em/1em Verdana, Sans-Serif;

  /* For Example: If using the YUI font CSS, uncomment the following line to get a 10px font-size within the datePicker */
  /* font:900 77%/77% Verdana, sans-serif; */

  /* Or, if you prefer a pixel precision */
  /* font:900 12px/12px Verdana, sans-serif; */

  background: transparent;

  /* Mozilla & Webkit extensions to stop text-selection. */
  -moz-user-select: none;
  -khtml-user-select: none;
}
/* Styles for the static datePickers */
div.static-datepicker {
  position: relative;
  top: 5px;
  left: 0;
}
div.datePicker table {
  width: auto;
  height: auto;
  border-collapse: separate;
}
/* Draggable datepickers */
div.datePicker tfoot th.drag-enabled,
div.datePicker thead th.drag-enabled,
div.datePicker thead th.drag-enabled span {
  cursor: move;
}
/* The iframe hack to cover selectlists in Internet Explorer <= v6 */
iframe.iehack {
  position: absolute;
  background: #fff;
  z-index: 9998;
  padding: 0;
  border: 0;
  display: none;
  margin: 0;
}
/* The "button" created beside each input for non-static datePickers */
a.date-picker-control:link,
a.date-picker-control:visited {
  position: relative;
  /* Moz & FF */
  display: -moz-inline-stack;
  border: 0 none;
  padding: 0;
  margin: 0 0 0 4px;
  background: transparent url(date-picker-v5/media/cal-grey.gif) no-repeat 50%
    50%;
  min-width: 16px;
  line-height: 1;
  cursor: pointer;
  visibility: visible;
  text-decoration: none;
  vertical-align: top;
}
a.date-picker-control:hover,
a.date-picker-control:active,
a.date-picker-control:focus,
a.dp-button-active:link,
a.dp-button-active:visited,
a.dp-button-active:hover,
a.dp-button-active:active,
a.dp-button-active:focus {
  background: transparent url(date-picker-v5/media/cal.gif) no-repeat 50% 50% !important;
}
/* Feed IE6 the following rule, IE7 should handle the min-width declared above */
* html a.date-picker-control {
  width: 16px;
}
/* IE, Safari & Opera. Seperate CSS rule seems to be required. */
a.date-picker-control {
  display: inline-block;
}
a.date-picker-control span {
  display: block;
  width: 16px;
  height: 16px;
  margin: auto 0;
}
/* Default "button" styles */
div.datePicker thead th span {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1em;
  border: 0 none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}
/* The "month, year" display */
div.datePicker th span.month-display,
div.datePicker th span.year-display {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: normal 1.2em Verdana, Sans-Serif;
  cursor: default;
}
/* Next & Previous (month, year) buttons */
div.datePicker th span.prev-but,
div.datePicker th span.next-but {
  font-weight: lighter;
  font-size: 2.4em;
  font-family: georgia, times new roman, palatino, times, bookman, serif;
  cursor: pointer !important;
}
/* Hover effect for Next & Previous (month, year) buttons */
div.datePicker th span.prev-but:hover,
div.datePicker th span.next-but:hover,
div.datePicker th span.today-but:hover {
  color: #a84444;
}
/* Today button */
div.datePicker th span.today-but {
  text-align: center;
  margin: 0 auto;
  font: normal 1em Verdana, Sans-Serif;
  width: 100%;
  text-decoration: none;
  padding-top: 0.3em;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer !important;
}
/* Disabled buttons */
div.dp-disabled th span.prev-but,
div.dp-disabled th span.next-but,
div.dp-disabled th span.today-but,
div.dp-disabled th span.prev-but:hover,
div.dp-disabled th span.next-but:hover,
div.dp-disabled th span.today-but:hover,
div.datePicker th span.prev-but.fd-disabled:hover,
div.datePicker th span.next-but.fd-disabled:hover,
div.datePicker thead th span.fd-disabled,
div.datePicker th span.fd-disabled:hover {
  color: #aaa;
  cursor: default !important;
  opacity: 1;
}
/* The mon, tue, wed etc day buttons */
div.datePicker th span.fd-day-header {
  text-align: center;
  margin: 0 auto;
  font: 900 1em Verdana, Sans-Serif;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
}
/* The table */
div.datePicker table {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff url(date-picker-v5/media/gradient-e5e5e5-ffffff.gif) repeat-x
    0 -20px;
  text-align: center;
  border-spacing: 2px;
  padding: 0.3em;
  width: auto;
  empty-cells: show;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -moz-box-shadow: 0px 0px 5px #aaa;
}
/* Common TD & TH styling */
div.datePicker table td,
div.datePicker table tbody th {
  border: 0 none;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #fff url(date-picker-v5/media/gradient-e5e5e5-ffffff.gif) repeat-x
    0 -40px;
  width: 3em;
  height: 3em;
  overflow: hidden;
  outline: transparent none 0px;
  border: 1px solid #ccc;
  text-transform: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div.datePicker table td:focus,
div.datePicker table td:active {
  outline: 0 none red;
}
div.datePicker table th {
  border: 0 none;
  padding: 0;
  font-weight: bold;
  color: #222;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
}
div.datePicker table thead th {
  height: auto !important;
}
div.datePicker table tbody th {
  border: 1px solid #dcdcdc;
}
/* Week number display */
div.datePicker table thead th.date-picker-week-header,
div.datePicker table tbody th.date-picker-week-header {
  font-style: oblique;
  background: transparent;
  cursor: default;
}
div.datePicker table thead th.date-picker-week-header {
  cursor: help;
  border: 0 none;
  padding: 0 0 0.2em 0;
}
/* tfoot status bar */
div.datePicker tfoot th {
  cursor: default;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 0 none;
  background: #fff;
  height: 2.8em;
}
/* TD cell that is _not_ used to display a day of the month */
div.datePicker table tbody td.date-picker-unused {
  background: #fff url(date-picker-v5/media/backstripes.gif);
  border-color: #dcdcdc;
  cursor: default !important;
}

/* The TH cell used to display the "month, year" title */
div.datePicker table thead th.date-picker-title {
  width: auto;
  height: auto;
  padding: 0.4em 0;
}
/* The "mon tue wed etc" day header styles */
div.datePicker table thead th.date-picker-day-header {
  text-transform: lowercase;
  cursor: help;
  height: auto;
}
/* The "todays date" style */
div.datePicker table tbody td.date-picker-today {
  background: #fff url(date-picker-v5/media/bullet2.gif) no-repeat 0 0;
  color: rgb(100, 100, 100) !important;
}

div.datePicker table tbody td.month-out.date-picker-highlight {
  color: #aa8866 !important;
}
/* The "highlight days" style */
div.datePicker table tbody td.date-picker-highlight,
div.datePicker table thead th.date-picker-highlight {
  color: #a86666 !important;
}
/* The "active cursor" style */
div.datePicker table tbody td.date-picker-hover {
  background: #fff url(date-picker-v5/media/bg_header.jpg) no-repeat 0 0;
  cursor: pointer;
  border-color: rgb(100, 130, 170) !important;
  color: rgb(100, 130, 170);
  text-shadow: 0px 1px 1px #fff;
}
/* The "disabled days" style */
div.datePicker table tbody td.day-disabled {
  background: #fff url(date-picker-v5/media/backstripes.gif) no-repeat 0 0;
  color: #aaa !important;
  cursor: default;
  text-decoration: line-through;
}
div.datePicker table tbody td.month-out {
  border-color: #ddd;
  color: #aaa !important;
  background: #fff url(date-picker-v5/media/gradient-e5e5e5-ffffff.gif) repeat-x
    0 -40px;
}
/* The "selected date" style */
div.datePicker table tbody td.date-picker-selected-date {
  color: #333 !important;
  border-color: #333 !important;
}
/* The date "out of range" style */
div.datePicker table tbody td.out-of-range,
div.datePicker table tbody td.not-selectable {
  color: #ccc !important;
  font-style: oblique;
  background: #fcfcfc !important;
  cursor: default !important;
}
/* Week number "out of range" && "month-out" styles */
div.datePicker table tbody th.month-out,
div.datePicker table tbody th.out-of-range {
  color: #aaa !important;
  font-style: oblique;
  background: #fcfcfc !important;
}
/* week numbers "out of range" */
div.datePicker table tbody th.out-of-range {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
/* Used when the entire grid is full but the next/prev months dates cannot be selected */
div.datePicker table tbody td.not-selectable {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
div.datePicker table tbody tr {
  display: table-row;
}
div.datePicker table tfoot sup {
  font-size: 0.86em;
  letter-spacing: normal;
  text-transform: none;
  height: 0;
  line-height: 1;
  position: relative;
  top: -0.2em;
  vertical-align: baseline !important;
  vertical-align: top;
}
div.datePicker table thead th.date-picker-day-header,
div.datePicker table thead span.month-display,
div.datePicker table thead span.year-display {
  text-shadow: 0px 1px 1px #fff;
}
/* You can add focus effects (for everything but IE6) like so: */

div.datepicker-focus table.datePickerTable {
  border-color: #999 !important;
}
div.datePicker table tbody tr td:focus,
div.datePicker table tbody td.date-picker-hover {
  overflow: hidden;
  outline: 0px solid #ff0000;
  -moz-outline: 0 none;
  -o-highlight: 0 none;
  color: rgb(100, 130, 170) !important;
}
div.static-datepicker table {
  -moz-box-shadow: 0 0 0 transparent;
}
div.datepicker-focus table {
  /* Naughty, naughty - but we add a highlight using the table's border colour */
  outline: none;
  -moz-box-shadow: 0px 0px 5px #aaa;
}
*:-o-prefocus {
  outline: -o-highlight-border;
}

/* INTERNET EXPLORER WOES
   ======================
   
   Hover Effects
   -------------
   
   IE cannot deal with :focus on the TR so the datePicker script adds the class "dp-row-highlight" to the
   row currently being hovered over. This should enable you to add hover effects if desired.
   
   e.g. the following rule will highlight the cell borders in another colour when a row is moused over,
   it looks like crap though so I didn't include the rule within the demo:
   
div.datePicker table tbody tr.dp-row-highlight td
        {
        border-color:#aaa;
        }
*/

/* Remove the images for Internet Explorer <= v6 using the "* html" hack  
   This is a workaround for a nasty IE6 bug that never caches background images on dynamically created DOM nodes
   which means that they are downloaded for every cell for every table - nasty! */
* html div.datePicker table td {
  background-image: none;
}
* html div.datePicker table td.date-picker-unused {
  background: #f2f2f2;
}
body.fd-drag-active {
  -webkit-user-select: none;
}
/* Chrome has problems with the -webkit-box-shadow and -webkit-border-radius styles together 
   Remove one or the other to get things looking less ugly */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  div.datePicker table {
    border-spacing: 0.3em;
    /* Naughty, naughty */
    -webkit-box-shadow: 0px 0px 5px #aaa;
    -webkit-border-radius: 0.8em;
  }
  div.static-datepicker table {
    -webkit-box-shadow: 0 0 0 transparent;
  }
  div.datepicker-focus table {
    -webkit-box-shadow: 0px 0px 5px #aaa;
  }
  div.datePicker table td,
  div.datePicker table tbody th {
    padding: 0.1em;
    -webkit-border-radius: 2px;
  }
  div.datePicker table tbody td.date-picker-hover {
    -webkit-box-shadow: 0px 0px 1px rgb(100, 130, 170);
  }
}

/* RESERVATION  */

#reservation .card-header {
  margin: 10px 0 10px 0;
}

.reservation__input--width {
  width: 90%;
}

#reservation label {
  margin-top: 5px;
}

.reservation__input--width--uneLigne {
  width: 90%;
}
@media (min-width: 576px) {
  .reservation__input--width--uneLigne {
    width: 95%;
  }
}

@media (min-width: 576px) {
  .reservation__occasion {
    width: auto;
  }
}
.reservation__page {
  position: fixed;
  left: 10vw;
  top: 10vh;
  width: 80vw;
  max-height: 80vh;
  background-color: #181614;
  border: 1px solid #fff8f3;
  color: #fff8f3;
  z-index: 1121;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

.reservation__page--hidden {
  opacity: 0;
  display: none;
}

/* .reservation__submit--border {
  border: 1px solid #554f48;
  border-radius: 0;
}

.reservation__submit--secondBorder {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
} */
.reservation__submit {
  margin: 10px 0 10px 0;
}

.reservation__page--fade {
  -webkit-animation-name: reservation__page--fade;
  animation-name: reservation__page--fade;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

.reservation__page--fadeOut {
  -webkit-animation-name: reservation__page--fadeOut;
  animation-name: reservation__page--fadeOut;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes reservation__page--fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
}

@keyframes reservation__page--fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
}

@-webkit-keyframes reservation__page--fade {
  from {
    opacity: 0;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes reservation__page--fade {
  from {
    opacity: 0;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
